<% include ../../partials/header.ejs %>

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">Cadastrar alimento</h2>
    </div>
    <form method="post" action="/admin/foods/cadastre">
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="name">
          <label class="mdl-textfield__label">Nome</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="amount">
          <label class="mdl-textfield__label">Quantidade</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="protein">
          <label class="mdl-textfield__label">Proteína</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="carbohydrate">
          <label class="mdl-textfield__label">Carboidrato</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="calorie">
          <label class="mdl-textfield__label">Calorias</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="fat">
          <label class="mdl-textfield__label">Gorduras</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="sodium">
          <label class="mdl-textfield__label">Sódio</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="potassium">
          <label class="mdl-textfield__label">Potássio</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="cholesterol">
          <label class="mdl-textfield__label">Colesterol</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Cadastrar</button>
      </div>
    </form>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
<% include ../../partials/footer.ejs %>
