<!DOCTYPE html>
<html class="no-js" lang="pt-BR" xml:lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript">
      // to identify if javascript is active
      var tagHtml = document.getElementsByTagName("html")[0];
          tagHtml.className = tagHtml.className.replace("no-js", "js");
    </script>
  </head>
  <body>
    <form method="post" action="/api/foods">
      <input type="text" placeholder="Nome" name="name"><br>
      <input type="text" placeholder="Quantidade" name="amount"><br>
      <input type="text" placeholder="Proteína" name="protein"><br>
      <input type="text" placeholder="Carboidrato" name="carbohydrate"><br>
      <input type="text" placeholder="Calorias" name="calorie"><br>
      <input type="text" placeholder="Gorduras" name="fat"><br>
      <input type="text" placeholder="Sódio" name="sodium"><br>
      <input type="text" placeholder="Potássio" name="potassium"><br>
      <input type="text" placeholder="Colesterol" name="cholesterol"><br>
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
