<% include ../partials/header.ejs %>

<form method="post" action="/admin/register">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="name">
    <label class="mdl-textfield__label">Nome</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="email">
    <label class="mdl-textfield__label">E-mail</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="username">
    <label class="mdl-textfield__label">Nome de usuário</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="password">
    <label class="mdl-textfield__label">Senha</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Registrar</button>
</form>
<a href="/admin">Login com um conta existente</a>

<% include ../partials/footer.ejs %>
