<% include ../../partials/header.ejs %>

<h1>Usuários</h1>

<ul class="demo-list-two mdl-list">
<% for(var i = 0, len = users.length; i < len; i++) {%>
<li class="mdl-list__item mdl-list__item--two-line">
  <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-avatar">person</i>
    <span><%= users[i].name %></span>
    <span class="mdl-list__item-sub-title"><%= users[i].email %></span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">create</i></a>
  </span>
  <span class="mdl-list__item-secondary-content">
    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">clear</i></a>
  </span>
</li>
<% } %>
</ul>

<% include ../../partials/footer.ejs %>
